<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
  </head>
  <body>
    <div id="mainContent" style="text-align: left;">
      <table cellpadding="10" cellspacing="0" style="background-color: rgb(255,255,255); width: 100%; height: 100%;">
        <tbody>
          <tr>
            <td valign="top">
              <table align="center" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td>
                      <table cellpadding="0" cellspacing="0" style="width: 600px;">
                        <tbody>
                          <tr>
                            <td sectionid="preheader" style="text-align: left; margin: 0; padding: 10px 0; border: none; white-space: normal; line-height: normal;">
                              <div>
                                <div style="height: 15px; line-height: 15px;">
                                  &nbsp;
                                </div>
                              </div>
                              <div>
                                <div style="height: 15px; line-height: 15px;">
                                  &nbsp;
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table bgcolor="#FFFFFF" cellpadding="20" cellspacing="0" style="width: 600px; background-color: rgb(255,255,255);">
                        <tbody>
                          <tr>
                            <td sectionid="body" style="text-align: left; margin: 0; padding: 20px; border: none; white-space: normal; line-height: normal; background-color: rgb(255,255,255);" valign="top">
                              <div>
                                <div contentid="logo">
                                  <div contentid="logo">
                                    <div style="text-align: center;">
                                      <img align="bottom" alt="Company Logo" border="0" src="https://d1yoaun8syyxxt.cloudfront.net/cg314-95c18c92-7205-4679-aaab-59d215ad9722-v2" style="margin: 0; margin-right: 0px; margin-left: 0px; padding: 0; background: none; border: none; white-space: normal; line-height: normal;" title="Company Logo" width="234" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div>
                                <div contentid="image">
                                  <div contentid="image">
                                    <div style="text-align: left;">
                                      <img align="bottom" alt="Interesting Image" border="0" height="296" src="https://d1yoaun8syyxxt.cloudfront.net/cg314-985ccd4a-4898-4c9d-9399-2306a23b87e2-v2" style="margin: 0; margin-right: 0px; margin-left: 0px; padding: 0; background: none; border: none; white-space: normal; line-height: normal;" title="Interesting Image" width="560" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div>
                                <div style="height: 15px; line-height: 15px;">
                                  &nbsp;
                                </div>
                              </div>
                              <div>
                                <div style="margin: 0; padding: 0; background: none; border: none; white-space: normal; line-height: normal; overflow: visible; font-size: 12px; font-family: arial; color: rgb(0,0,0);">
                                  <div contentid="paragraph" style="margin: 0; padding: 0; background: none; border: none; white-space: normal; line-height: normal; overflow: visible; font-size: 12px; font-family: arial; color: rgb(0,0,0);">
                                    <div style="overflow: visible;">
                                      <div style="overflow: visible;">
                                        <span style="font-size: 12pt;"></span>
                                      </div>
                                      <div style="overflow: visible; text-align: center;">
                                        <span style="color: rgb(51,51,0); font-family: Trebuchet MS;"><span size="3" style="font-size: medium;">Refer friends, Earn free product</span></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div>
                                <div style="height: 20px;">
                                  <div style="height: 10px; border-bottom: 1px solid rgb(204,204,204);">
                                    &nbsp;
                                  </div>
                                  <div style="height: 10px;">
                                    &nbsp;
                                  </div>
                                </div>
                              </div>
                              <div>
                                <div style="height: 15px; line-height: 15px;">
                                  &nbsp;
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                    <tr>
                      <td>
                        <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; border: 4px solid #995e5d; border-top: none; border-bottom: none; background: white; text-align: center;" width='651' cellspacing='0' cellpadding='0' align="center" bgcolor="#FFFFFF">
                          <tr>
                            <td style="padding: 20px 0 0;">
                              <center>
                                <a href="<%= Rails.application.config.action_mailer.default_url_options[:host] || "" %>?ref=<%= @user.referral_code %>" style="font-family: 'Times', serif; font-size: 14px; letter-spacing: 0.05em; color: #6c6c6c; text-decoration: none" target="_blank"><%= Rails.application.config.action_mailer.default_url_options[:host] || "" %>?ref=<%= @user.referral_code %></a>
                              </center>
                            </td>
                          </tr>
                        </table>
                        <table style="margin: 0 auto; padding: 0; width: 651px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; border: 4px solid #995e5d; border-top: none; border-bottom: none; background: white; text-align: center;" width='651' cellspacing='0' cellpadding='0' align="center" bgcolor="#FFFFFF">
                            <tr>
                                <td style="padding: 45px 0 43px;">
                                    <table style="margin: 0 auto; padding: 0; width: 200px; font-family: 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif; font-size: 0; color: #CCC; font-weight: normal; background: white; text-align: center;" width='200' cellspacing='0' cellpadding='0' align="center" bgcolor="#FFFFFF">
                                        <tr>
                                            <td width="80" align="right">
                                                <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(Rails.application.config.action_mailer.default_url_options[:host] || "") %>?ref=<%= CGI::escape(@user.referral_code) %>&title=MENUD" style="outline: 0; border: 0;" target="_blank">
                                                    <img src="<%= Rails.application.config.action_mailer.default_url_options[:host] %>/assets/email/facebook.jpg" alt="Share on Facebook" style="display: block; margin: 0; padding: 0; border: 0;">
                                                </a>
                                            </td>
                                            <td width="20"></td>
                                            <td width="80">
                                                <a href="http://twitter.com/share?url=<%= CGI::escape(Rails.application.config.action_mailer.default_url_options[:host] || "") %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(@twitter_message) %>" style="outline: 0; border: 0;" target="_blank">
                                                    <img src="<%= Rails.application.config.action_mailer.default_url_options[:host] %>/assets/email/twitter.jpg" alt="Share on Twitter" style="display: block; margin: 0; padding: 0; border: 0;">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                      </td>
                    </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>​


1. On the email, can you ensure it has the tracking code and social links to share? Just like the Harry's email did
Ans) I have added referral link and share links to the welcome email and please provide email content of other clients.   
2. On the first page, can you replace the little key logo above the email opt-in box with the below 360 logo?
Ans) Added 360 logo
3. On the Harry's second page, I realized when you hover over the reward tiers, it shows you a picture popup of what that reward is. Can we do the same with the following images?
Ans) Added images to the popups. Please send me the other client images. I will do at a time all things no need to edit or add the features.
4) Added ned@endrock.software email as admin user password is "password". Admin login url is : https://fly360.herokuapp.com/admin/login 

